* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  font-family: "Rubik", sans-serif;

  /* background-color: #282828 */
}
.logo {
  /* background: linear-gradient(35deg, rgb(24,67,69), rgb(31,78,47,1)); */
  background: linear-gradient(35deg, rgb(24, 67, 69), rgb(66, 192, 108));
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/WebKit browsers */
  color: transparent;
}
.header-search {
  width: 100%;
  transition: 0.5s;
}

h4 {
  color: rgb(31, 78, 47, 1);
}
.card-title {
  color: rgb(31, 78, 47, 1);
}
.LINK {
  color: rgb(19, 114, 51);
}
.sidebar {
  padding: 20px;
  background-color: #ffffff;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  height: 92vh;
  overflow: scroll;
  width: 200px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
li:hover {
  /* /* background-color: rgb(24,67,69); */
  /* color: white; */
  color: white;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(31, 78, 47, 1);
}
.sidebar-item {
  cursor: pointer;
  color: rgb(31, 78, 47, 1);
}
.sidebar-item:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(24, 67, 69);
  transition: 0.2s;
}
.liDiv:hover {
  color: rgb(255, 255, 255);
}
.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 75px;

  box-shadow: 1px 3px 11px -2px rgba(239, 239, 239, 1);
  -webkit-box-shadow: 1px 3px 11px -2px rgba(239, 239, 239, 1);
  -moz-box-shadow: 1px 3px 11px -2px rgba(239, 239, 239, 1);

}

.mobile-footer {
  width: 100%;
  position: fixed;
  bottom: -22px;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
.login-card {
  width: 430px;
  height: 600px;
  color:rgb(46, 89, 46);
  background-color: #ecf0f3;
  padding: 50px 25px 25px 25px;
  border-radius: 40px;
  margin-top: 50px;

  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
.gap-30 {
  gap: 30px;
}
.neumer-input {
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  color: #555;
  padding: 15px 8px 15px 5px;
}
.email,
.password,
.name,
.confirm {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.submit-btn {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color:rgb(46, 89, 46);
  transition: all 0.5s;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
}
.submit-btn:hover {
  background-color:rgb(46, 89, 46);
}

.active {
  color: rgb(255, 255, 255);
  background-color: rgb(24, 67, 69);;
}

.dark {
  background-color: #282828;
  color: #f1f1f1;
  .carddark {
    background-color: #282828;
  }
  .channeltitle {
    color: #b1b1b1;
  }
  /* .badgeDark {
    background-color: rgb(31, 78, 47, 1);
    color: #f1f1f1;
  } */
  .text {
    color: #f1f1f1;
  }
  .button {
    background-color: #f1f1f1;
    color: #282828;
  }
  .activeDark {
    color: rgb(4, 162, 224);
  }
  .shadowDark {
    box-shadow: 3px 3px 8px #403b3b, -3px -3px 8px #3b3535;
  }
  .input {
    background-color: transparent;
    color: white;
  }
  .sideDark {
    color: #f1f1f1;
  }
  .sideDark:hover {
    background-color: #cbced1;
    color: #282828;
  }
}
.link {
  color: rgb(255, 255, 255);
}
/* .badgeDark{
  color: white;
  background-color: rgb(31, 78, 47, 1);
} */
.Button {
  color: white;
  /* background-color: rgb(31, 78, 47, 1); */
  background: linear-gradient(35deg, rgb(24, 67, 69), rgb(66, 192, 108));
  transition: background-color 0.3s ease-in-out;
}
.Button:hover {
  color: white;
  background: linear-gradient(35deg, rgb(61, 166, 171), rgb(17, 188, 74));
}
.card-body{
  background: linear-gradient(35deg, rgb(255, 255, 255), rgb(233, 255, 241));
}
